body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  }
  
  
  .App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(79deg, #9454a0, #b287c8 48%, #f7924e);
  }
  
  .Content {
  max-width: 1000px; /* issue */
  padding: 20px;
  text-align: center;
  color: white;
  margin: auto;
  flex-grow: 1; /* Allow the Content to grow and take up available space */
  margin-top: 70px;
  margin-bottom: 70px;
  }
  
  .auth-form-container, .login-form, .register-form, .home-form-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  }
  
  @media screen and (min-width: 600px){
  .auth-form-container, .home-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 30px;
  margin: 0.5rem;
  }
  }
  
  .home-form-container, .auth-form-container{
  text-align: center;
  align-items: center;
  }
  
  label {
  text-align: left;
  padding: 0.25rem 0;
  color: white;
  }
  
  input {
  width: 250px;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 30px;
  }
  
  button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  color: #9454a0;
  }
  
  .link-btn {
  background: none;
  color: white;
  text-decoration: underline;
  }
  
  .home-btn {
  width: 250px;
  height: 50px;
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  color: #9454a0;
  text-align: center;
  }
  
  .google-btn {
  width: 250px;
  height: 50px;
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  background: #dd4b39;
  color: white;
  }
  
  .twitter-btn {
  width: 250px;
  height: 50px;
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  background: black;
  color: white;
  }
  
  .facebook-btn {
  width: 250px;
  height: 50px;
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  background: #3B5998;
  color: white;
  }
  /* Updated Style for the contact information */
  .contact-info {
  background-color: transparent;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  color: #000; /* Text color */
  font-weight: normal; /* Remove bold text */
  }
  
  
  .contact-info label {
  font-weight: bold;
  color: white; /* Label color */
  }
  
  
  .contact-info p {
  margin: 5px 0;
  }
  
  
  .contact-info a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  }
  
  
  /* Style for the form */
  .contact-form {
  background-color: transparent;
  padding: 20px;
  border-radius: 30px;
  }
  
  
  .contact-form label {
  font-weight: bold;
  color: black; /* Label color */
  }
  
  
  .contact-info input[type="name"],
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="phone"],
  .contact-form input[type="subject"],
  .contact-form input[type="message"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 30px;
  }
  
  
  .contact-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  
  /* Style for the chat container */
  .chat-container {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  /* Style for individual chat messages */
  .chat-message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 30px;
  word-wrap: break-word;
  }
  
  
  /* Style for user messages */
  .user {
  background-color: #218aff;
  color: #fff;
  align-self: flex-start;
  text-align: right;
  }
  
  
  /* Style for chatbot messages */
  .chatbot {
  background-color: #ffffff;
  color: #333;
  align-self: flex-end;
  text-align: left;
  }
  
  
  .input-container {
  display: flex;
  align-items: center;
  }
  
  
  .input-field {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Horizontal alignment */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Vertical alignment */
    padding: 5px;
    font-family: sans-serif;
    font-size: 16px;
    resize: none; /* Prevent user from manually resizing the textarea */
    max-width: 100%;
    overflow: hidden;
  }
  

  .patient-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display three cards per row */
    gap: 20px; /* Add spacing between cards */
  }
  
  .patient-card {
    background-color: white; /* Set the background color to white */
    border: 1px solid #ccc; /* Add a border to the card */
    border-radius: 30px; /* Set the border radius for rounded corners */
    padding: 20px; /* Add some padding inside the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    transition: transform 0.2s ease-in-out; /* Add a smooth transform effect on hover */
  }
  
  .patient-card:hover {
    transform: scale(1.05); /* Scale up the card slightly on hover for a hover effect */
  }

  /* Style for the filter modal overlay */
.filter-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the overlay is on top of other content */
}

/* Style for the filter modal */
.filter-modal {
  background: #9454a0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
}

/* Style for the filter modal title */
.filter-modal h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for input fields in the filter modal */
.filter-modal input {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.filter-modal .modal .modal-content button {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
  background-color: transparent;
}
.filter-modal .modal .modal-content button:hover {
  transform: scale(1.1);
  background-color: transparent;
}

/* Style for the close button */
.filter-modal .modal .modal-content .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.filter-modal .modal .modal-content select {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  text-align: center;
  background-color: #fff; /* Set background color to white */
  color: #000; /* Set text color to black */
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  max-width: 600px; /* Adjust the max-width as needed */
}

table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

table tr:last-child td {
  border-bottom: none;
}

table input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 30px;
}

table button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  color: #9454a0;
  font-weight: bold;
  margin: 20px auto;
}

input[type="range"] {
  width: 90%;
  padding: 0; /* Remove padding */
  border: 1px solid #ccc; /* Add a border to make the thumb and value indicator visible */
}

span {
  margin-left: 6px;
  margin-bottom: 20px;
}

/* Style for the modal container */
.modal {
  position: fixed; /* Fixed position for the modal */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: auto; /* Enable vertical scrolling for the modal container */
}

/* Style for the modal content */
.modal-content {
  background: #9454a0; /* Background color of the modal content */
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  position: relative;
  margin: auto; /* Center the modal content horizontally */
  max-height: 70%; /* Set a maximum height for the modal content */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  padding-top: 20px; /* Add top padding to create space between modal and buttons */
}

/* Style for the modal title */
.modal-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for the checkboxes and labels */
.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

/* Style for the select/deselect all checkbox */
.modal-content li:first-child {
  font-weight: bold;
}

.scrollable-table {
  max-height: 600px; /* Adjust the maximum height as needed */
  overflow-y: scroll; /* Enable vertical scrolling when the content exceeds the container height */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
}

.scrollable-table table {
  width: 100%; /* Ensure the table takes the full width of the container */
  border-collapse: collapse; /* Optional: Collapse cell borders for a cleaner appearance */
}

.scrollable-table table th,
.scrollable-table table td {
  padding: 8px; /* Adjust the padding as needed */
  border: 1px solid #ddd; /* Optional: Add cell borders for better readability */
  text-align: left; /* Align cell content to the left */
  width: auto; /* Allow the browser to evenly distribute the width among all columns */
}


/* Add this CSS to your stylesheets or in a <style> tag in your HTML */
.sender-message {
  background-color: #218aff;
  color: #fff;
  align-self: flex-start;
  text-align: right;
}

.receiver-message {
  background-color: #ffffff;
  color: #333;
  align-self: flex-end;
  text-align: left;
}
