.authHeader-Header {
    position: fixed;
    top: 0; /* Stick it to the top */
    max-height: 70px;
    width: 100vw;
    grid-template-areas: "logo nav";
    text-align: center;
  
    /* Cosmetics */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .Logo {
    grid-area: logo;
    height: 70px;
  }
  
  .authHeader-Nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(7, auto);
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .authHeader-Nav button {
    color: #6e2579;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
    background-color: transparent;
  }
  .authHeader-Nav button:hover {
    transform: scale(1.1);
    background-color: transparent;
  }
  
  .authHeader-NavAnimation-enter {
    opacity: 0;
    transform: scale(0.5);
  }
  .authHeader-NavAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
  }
  .authHeader-NavAnimation-exit {
    opacity: 1;
  }
  .authHeader-NavAnimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
  }
  .authHeader-Footer {
    font-family: sans-serif;
    text-align: center;
    /* max-height: 70px; */
    /* width: 100vw; */
  }
  .authHeader-Navfooter {
    display: grid;
    grid-area: Navfooter;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
  }
  .authHeader-Navfooter a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
  }
  .authHeader-Navfooter a:hover {
    transform: scale(1.1);
  }
  .authHeader-Navfooter button {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 10px;
    color: #fff;
    font-weight: 600;
    background-color: #f57328;
    box-shadow: 0px 5px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
  }
  
  .authHeader-Navfooter button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.25);
  }
  
  .user-dropdown-container {
    position: absolute;
    top: 70px; /* Adjust this value as needed to position the dropdown under the user icon */
    right: -300px; /* Initially hide the dropdown to the right */
    width: 175px; /* Adjust the width as needed */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 999; /* Ensure it's above other elements */
    overflow-y: auto; /* Add scroll if content exceeds the height */
    border-radius: 30px;
  }
  
  /* Style for user dropdown items */
  .user-dropdown-item {
    padding: 15px;
    font-size: 18px;
    text-align: right;
    border-bottom: 1px solid #ddd;
  }

/* Show the user dropdown when 'isUserMenuOpen' is true */
.user-dropdown-container.active {
  right: 0;
}

@media (max-width: 767px) {
  .Nav {
      display: flex;
      justify-content: space-around; /* Space navigation items evenly */
      align-items: center; /* Vertically center navigation items */
  }
}